.home-nav-links{
    display: block;

    background-color: burlywood;
    margin-bottom: 1%;

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.home-nav-links.log-out{
    text-align: right;
}
.home-nav-links:hover{
    color: yellow;
}
.home-nav{
    display: flex;
    flex-flow: row nowrap;
}