
.private-link{
    margin: 5px;
    border-style:  hidden;
    border-color: burlywood;
    width: fit-content;
    text-decoration: none ;
}


.profile-body{
    float: right;
    width: 50%;
    padding-bottom: 25%;
    text-align: center;
    border-style: solid;
    background-color: burlywood;

}

.profile-links-body{
    float: left;
    width: 45%;
    position: absolute;
    border-style: double;
    color: #86652c;
    background-color: bisque;
}
.profile-links{
    text-align: left;
}
.user-info{
    margin: 1%;


}
.info-value{
    margin: 1%;
    border-style: hidden;
    width: fit-content;
    text-align: right;
}

.activity{
    border-style: solid;
    margin: 2%;
}

.change-password-input{
    margin: 1%;
}

